@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin grid-layout {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

@mixin grid($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: 40px;
}

@mixin spinner{
  box-sizing: border-box;
  display: block;
  position: absolute;
  margin: 10px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

  &:nth-child(1) {
    animation-delay: -0.45s;
  }

  &:nth-child(2) {
    animation-delay: -0.3s;
  }

  &:nth-child(3) {
    animation-delay: -0.15s;
  }
}