@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

// Colors
$white: #FFFFFF;
$black: #000000;
$primary: #FFE600;
$secondary: #3483FA;
$gray1: #333333;
$gray2: #666666;
$gray3: #999999;
$gray4: #EEEEEE;

// fonts
$roboto: 'Roboto', sans-serif;
